<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
      <add key="DataMode" value="SQL"/>
    <add key="DBServer" value="DESKTOP-02HD4EF"/>
    <add key="DBname" value="pharmaco"/>
    <add key="Username" value="mime"/>
    <add key="Password" value="mime278"/>
    <add key ="RESTURL" value = ""/>
    <add key ="SOAPURL" value = ""/>
  </appSettings>
</configuration>