<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   <appSettings>
    <add key="DataMode" value="SQL" />
    <add key="DBServer" value="NORMANII" />
    <add key="DBname" value="PHARMACO" />
    <add key="Username" value="PharmacoDBUser" />
    <add key="Password" value="malyzelenykl0kan" />
    <add key="RESTURL" value="" />
    <add key="SOAPURL" value="" />
    <add key="ClientID" value="unikatne_id_klienta" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>